%br
%br

%h1
  = link_to post.title, post_path(post)
.post_date
  = post.created_at.to_formatted_s(:short_ordinal)
.post_content
  = markdown.render(post.content).html_safe

.post_comment
  = link_to 'Comments', nil
.post_links
  = render 'post_links'
%br
%br
%br
